<div class="newsCards">
    <div class="newsCards__card baseCard baseCard--news baseCard--inverseRed">
        <div class="baseCard__content">
            <time class="baseCard__underTitle">24 марта 2022</time>
            <h3 class="baseCard__title">27 января 2022 г. состоялась Мастер-сессия компании Шерп Софт</h3>
            <p class="baseCard__text">
                Главной целью мероприятия было познакомить партнеров и клиентов, использующих 
                технологическую платформу Шерп, с новыми возможностями платформы, реализованными за 2 года
            </p>
        </div>
    </div>

    <div class="newsCards__card baseCard baseCard--news baseCard--inverseRed">
        <div class="baseCard__content">
            <time class="baseCard__underTitle">24 марта 2022</time>
            <h3 class="baseCard__title">27 января 2022 г. состоялась Мастер-сессия компании Шерп Софт</h3>
            <p class="baseCard__img">
                <img class="imgMax" src="./assets/img/master-session.png" alt="Мастер-сессия">
            </p>
        </div>
    </div>

    <div class="newsCards__card baseCard baseCard--news baseCard--inverseRed">
        <div class="baseCard__content">
            <time class="baseCard__underTitle">24 марта 2022</time>
            <h3 class="baseCard__title">27 января 2022 г. состоялась Мастер-сессия компании Шерп Софт</h3>
            <p class="baseCard__img">
                <img class="imgMax" src="./assets/img/master-session.png" alt="Мастер-сессия">
            </p>
        </div>
    </div>

    <div class="newsCards__card baseCard baseCard--news baseCard--inverseRed">
        <div class="baseCard__content">
            <time class="baseCard__underTitle">24 марта 2022</time>
            <h3 class="baseCard__title">27 января 2022 г. состоялась Мастер-сессия компании Шерп Софт</h3>
            <p class="baseCard__text">
                Главной целью мероприятия было познакомить партнеров и клиентов, использующих 
                технологическую платформу Шерп, с новыми возможностями платформы, реализованными за 2 года
            </p>
        </div>
    </div>

</div>