<section class="section section--underHeader simpleTextSection">
    <div class="section__inner">
        <div class="section__header">
            <h1 class="baseTitle baseTitle--first">
                <span data-animation="fadeInRight" #dataAnim>Шаблон</span>
            </h1>
        </div>
        <div class="section__body simpleTextSection__body">
            <p class="simpleTextSection__text">
                «Формула Би Ай» - многопрофильная IT-компания,  которая имеет  богатый  опыт внедрения передовых и востребованных IT-технологий. 
                Наша команда объединила экспертов в области информатизации, экономики, менеджмента  и других отраслей для создания сложных 
                корпоративных информационных систем, цифровых платформ корпораций и холдингов, независимо от формы собственности, масштаба и отрасли. 
                В основе реализации наших систем –  запатентованная уникальная технологическая платформа.                 
            </p>
        </div>
    </div>
</section>