<div class="mediaGallery">
    <div class="mediaGallery__card">
        <img class="mediaGallery__img" src="./assets/img/gallery/gallery-1.png" alt="Изображение">
        <h3 class="mediaGallery__title">Мастер-сессия Шерп.Софт</h3>
        <time class="mediaGallery__date">17 января 2022 года</time>
    </div>
    <div class="mediaGallery__card">
        <img class="mediaGallery__img" src="./assets/img/gallery/gallery-2.png" alt="Изображение">
        <h3 class="mediaGallery__title">Мастер-сессия Шерп.Софт</h3>
        <time class="mediaGallery__date">17 января 2022 года</time>
    </div>
    <div class="mediaGallery__card">
        <img class="mediaGallery__img" src="./assets/img/gallery/gallery-3.png" alt="Изображение">
        <h3 class="mediaGallery__title">Мастер-сессия Шерп.Софт</h3>
        <time class="mediaGallery__date">17 января 2022 года</time>
    </div>
    <div class="mediaGallery__card">
        <img class="mediaGallery__img" src="./assets/img/gallery/gallery-3.png" alt="Изображение">
        <h3 class="mediaGallery__title">Мастер-сессия Шерп.Софт</h3>
        <time class="mediaGallery__date">17 января 2022 года</time>
    </div>
</div>