<section class="section section--underHeader section--beforeFooter components">
    <div class="section__inner components__inner">
        <div class="components__elem input-group">
            <span class="input-group__label">Checkbox button</span>

            <div class="input-group__elems">
                <label class="input-group__elem c-checkbox">
                    <input class="c-checkbox__input visually-hidden" type="checkbox" />
                    <div class="c-checkbox__box">
                        <svg class="c-checkbox__icon">
                            <use xlink:href="./assets/sprites/sprite.svg#check"></use>
                        </svg>
                    </div>
                    <span class="c-checkbox__text">Выбери меня!</span>
                </label>
            </div>
        </div>

        <div class="components__elem input-group">
            <span class="input-group__label">Radio buttons</span>

            <div class="input-group__elems">
                <label class="input-group__elem c-checkbox c-checkbox--radio">
                    <input class="c-checkbox__input visually-hidden" type="radio" name="customRadio" />
                    <div class="c-checkbox__box">
                        <div class="c-checkbox__icon"></div>
                    </div>
                    <span class="c-checkbox__text">Это радио!</span>
                </label>

                <label class="input-group__elem c-checkbox c-checkbox--radio">
                    <input class="c-checkbox__input visually-hidden" type="radio" name="customRadio" />
                    <div class="c-checkbox__box">
                        <div class="c-checkbox__icon"></div>
                    </div>
                    <span class="c-checkbox__text">Это радио!</span>
                </label>

                <label class="input-group__elem c-checkbox c-checkbox--radio">
                    <input class="c-checkbox__input visually-hidden" type="radio" name="customRadio" />
                    <div class="c-checkbox__box">
                        <div class="c-checkbox__icon"></div>
                    </div>
                    <span class="c-checkbox__text">Это радио!</span>
                </label>
            </div>
        </div>

        <div class="components__elem input-group">
            <span class="input-group__label">Links</span>

            <div class="input-group__elems">

                <a class="input-group__elem link" href="#">Перейти куда-то</a>

                <a class="input-group__elem link" href="#letsgo">
                    <span class="link__text">Найти что-нибудь</span>
                    <svg class="link__icon link__icon--right">
                        <use xlink:href="./assets/sprites/sprite.svg#link"></use>
                    </svg>
                </a>

            </div>
        </div>

        <div class="components__elem input-group">
            <span class="input-group__label">Buttons</span>

            <div class="input-group__elems">

                <div class="input-group__elem">
                    <button class="btn btn--primary">Кнопка базовая</button>
                </div>

                <div class="input-group__elem">
                    <button class="btn btn--short btn--primary">Отправить</button>
                </div>

                <div class="input-group__elem">
                    <a href="#" class="btn btn--primary">Кнопка-ссылка базовая</a>
                </div>

                <div class="input-group__elem">
                    <button class="btn btn--secondary">Кнопка вторичная!</button>
                </div>

                <div class="input-group__elem">
                    <button class="btn btn--outlined">Кнопка обведенная!</button>
                </div>

                <div class="input-group__elem">
                    <input class="btn btn--primary" type="submit" value="Кнопка формы (submit)" />
                </div>

                <div class="input-group__elem">
                    <button class="btn btn--primary" disabled>Неактивная кнопка!</button>
                </div>

                <div class="input-group__elem">
                    <button class="btn btn--secondary" disabled>Неактивная кнопка вторичная!</button>
                </div>
            </div>
        </div>

        <div class="components__elem input-group">
            <span class="input-group__label">Titles</span>

            <div class="input-group__elems">

                <div class="input-group__elem">
                    <h2 class="baseTitle baseTitle--second">Ключевые клиенты</h2>
                </div>

                <div class="input-group__elem">
                    <h2 class="baseTitle baseTitle--second">Команда <br>профессионалов</h2>
                </div>

                <div class="input-group__elem">
                    <h1 class="baseTitle baseTitle--first">Медиа</h1>
                </div>

                <div class="input-group__elem">
                    <h1 class="baseTitle baseTitle--promo">
                        <span class="baseTitle__top">Российские</span>
                        <br>
                        <span class="baseTitle__bottom">корпоративные решения</span>
                    </h1>
                </div>

            </div>
        </div>

        <div class="components__elem input-group">
            <span class="input-group__label">Cards</span>

            <div class="input-group__elems">

                <div class="input-group__elem">
                    <div class="baseCard">

                    </div>

                    <div class="baseCard baseCard--news baseCard--inverseRed">
                        <div class="baseCard__content">
                            <h3 class="baseCard__title">27 января 2022 г. состоялась Мастер-сессия компании Шерп Софт</h3>
                            <p class="baseCard__text">
                                Главной целью мероприятия было познакомить партнеров и клиентов, использующих 
                                технологическую платформу Шерп, с новыми возможностями платформы, реализованными за 2 года
                            </p>
                        </div>
                    </div>

                    <div class="baseCard baseCard--news baseCard--inverseRed">
                        <div class="baseCard__content">
                            <h3 class="baseCard__title">27 января 2022 г. состоялась Мастер-сессия компании Шерп Софт</h3>
                            <p class="baseCard__img">
                                <img class="imgMax" src="./assets/img/master-session.png" alt="Мастер-сессия">
                            </p>
                        </div>
                    </div>

                    <div class="baseCard baseCard--info">
                        <div class="baseCard__content">
                            <div class="baseCard__icon">
                                <svg class="baseCard__iconSvg">
                                    <use xlink:href="./assets/sprites/sprite.svg#digital-observe-1"></use>
                                </svg>
                            </div>
                            <h3 class="baseCard__title">Функциональные решения</h3>
                        </div>
                    </div>

                    <div class="baseCard baseCard--partners baseCard--inverseRed">
                        <div class="baseCard__content">
                            <div class="baseCard__imgArea">
                                <img src="./assets/img/partners/partner-1.png" alt="Изображение партнёра">
                                <img src="./assets/img/partners/partner-1-hover.png" alt="Изображение партнёра">
                            </div>
                            <div class="baseCard__infoArea">
                                <h3 class="baseCard__title">Сетевое издание, Информационно-деловой портал для профессионалов в сфере корпоративного управления.</h3>
                                <p class="baseCard__text">Здесь вы найдете актуальные новости и публикации, лучшие российские и зарубежные практики, изменения в законодательстве, издания в области корпоративного управления и корпоративной социальной ответственности, информацию о мероприятиях и образовательных программах.</p>
                                <a class="baseCard__link link" href="#letsgo">
                                    <span class="link__text">Перейти на сайт</span>
                                    <svg class="link__icon link__icon--right">
                                        <use xlink:href="./assets/sprites/sprite.svg#link"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="baseCard baseCard--news baseCard--inverseRed">
                        <div class="baseCard__content">
                            <h3 class="baseCard__title">27 января 2022 г. состоялась Мастер-сессия компании Шерп Софт</h3>
                            <p class="baseCard__text">
                                Главной целью мероприятия было познакомить партнеров и клиентов, использующих 
                                технологическую платформу Шерп, с новыми возможностями платформы, реализованными за 2 года
                            </p>
                        </div>
                    </div>

                    <div class="newsCards__card baseCard baseCard--news baseCard--inverseRed">
                        <div class="baseCard__content">
                            <time class="baseCard__underTitle">24 марта 2022</time>
                            <h3 class="baseCard__title">27 января 2022 г. состоялась Мастер-сессия компании Шерп Софт</h3>
                            <p class="baseCard__text">
                                Главной целью мероприятия было познакомить партнеров и клиентов, использующих 
                                технологическую платформу Шерп, с новыми возможностями платформы, реализованными за 2 года
                            </p>
                        </div>
                    </div>

                    <div class="baseCard baseCard--articles baseCard--inverseRed">
                        <div class="baseCard__content">
                            <time class="baseCard__underTitle">24 марта 2022</time>
                            <h3 class="baseCard__title">27 января 2022 г. состоялась Мастер-сессия компании Шерп Софт</h3>
                            <a class="baseCard__link link" href="#letsgo">
                                <span class="link__text">Перейти на сайт</span>
                                <svg class="link__icon link__icon--right">
                                    <use xlink:href="./assets/sprites/sprite.svg#link"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>

        <div class="components__elem input-group">
            <span class="input-group__label">Accordion</span>

            <div class="input-group__elems">
                <div class="input-group__elem" *ngFor="let data of accordionData;">
                    <app-accordion [accordionData]="data"></app-accordion>
                </div>
                <div class="input-group__elem">
                    
                </div>
            </div>
        </div>

        <div class="components__elem input-group">
            <span class="input-group__label">Filter box</span>

            <div class="input-group__elems">
                <filter-box></filter-box>
            </div>

        </div>

        <div class="components__elem input-group">
            <span class="input-group__label">About banner</span>

            <div class="input-group__elems">
                <div class="aboutBanner">
                    <div class="aboutBanner__content">
                        <div class="aboutBanner__logo">
                            <img class="aboutBanner__logoImg" src="./assets/img/logo.svg" alt="Логотип">
                        </div>
                        <h2 class="aboutBanner__title">Цифровое будущего вашего<br> бизнеса уже сегодня </h2>
                        <a class="aboutBanner__link btn btn--secondary" href="#">Получить консультацию</a>
                    </div>
                    <img class="aboutBanner__bannerImg" src="./assets/img/about-banner.png" alt="Изображение баннера">
                </div>
            </div>

        </div>

        <div class="components__elem input-group">
            <span class="input-group__label">All sites</span>

            <div class="input-group__elems">
                <div class="allSites">
                    <input class="allSites__input visually-hidden" id="allSitesToggler" type="checkbox">

                    <label class="allSites__header" for="allSitesToggler">
                        <svg class="allSites__icon">
                            <use xlink:href="./assets/sprites/sprite.svg#burger"></use>
                        </svg>
                        <span class="allSites__title">Все сайты</span>
                    </label>

                    <div class="allSites__box">
                        <a class="allSites__link" href="#">
                            <img src="./assets/img/logo_blue.svg" alt="Логотип">
                        </a>
                        <a class="allSites__link" href="#">
                            <img src="./assets/img/logo_yellow.svg" alt="Логотип">
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="components__elem input-group">
            <span class="input-group__label">About card</span>

            <div class="input-group__elems">
                <div class="aboutCard group__elem">
                    <div class="aboutCard__imgCover">
                        <img class="aboutCard__img" src="./assets/img/about/about-icon-1.svg" alt="Изображение профессионалов">
                    </div>
                    <h3 class="aboutCard__title">Профессионалам</h3>
                    <div class="aboutCard__content">
                        <ul class="baseList">
                            <li>Формат работы: мы – за удаленную работу, но иногда бывает необходимость встретиться в офисе или посетить Заказчика. 
                                Обязательным условием является пребывание на связи в течение рабочего дня.</li>
                            <li>Зарплата определяется по итогам собеседования, исходя из Ваших компетенций и опыта. 
                                Вы даете результат – мы достойную, конкурентную оплату.</li>
                            <li>Дружный профессиональный коллектив.</li>
                            <li>Официальное трудоустройство по ТК РФ.</li>
                            <li>Система дополнительного материального поощрения, разработанная индивидуально для каждого сотрудника компании.</li>
                            <li>Реальные перспективы профессионального и карьерного развития.</li>
                            <li>Мы обеспечим Вас интересными задачами и проектами.</li>
                        </ul>
                    </div>
                    <div class="aboutCard__footer">
                        <a class="btn btn--outlined" href="#">Смотреть вакансии</a>
                    </div>
                </div>

                <div class="aboutCard group__elem">
                    <div class="aboutCard__imgCover">
                        <img class="aboutCard__img" src="./assets/img/about/about-icon-2.svg" alt="Изображение начинающим">
                    </div>
                    <h3 class="aboutCard__title">Начинающим</h3>
                    <div class="aboutCard__content">
                        <p>
                            Мы можем предложить достойную работу как опытным профессионалам, так и выпускникам, студентам последних курсов, только начинающим свою карьеру в профессии!
                            <br><br>
                            Если вы учитесь в ВУЗе или недавно закончили обучение и задумались, в каком направлении применить полученные знания в 
                            IT-области, предлагаем присоединиться к нашей команде и развивать ваши компетенции в направлении создания прикладного 
                            программного обеспечения корпоративных информационных систем.
                            <br><br>
                            Приглашаем вас бесплатно пройти обучение и приобрести дополнительные знания и навыки в качестве разработчика корпоративных информационных систем на программно-технологической платформе «ШЕРП»
                        </p>
                    </div>
                    <div class="aboutCard__footer">
                        <a class="btn btn--outlined" href="#">Пройти практику</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="components__elem input-group">
            <span class="input-group__label">Custom inputs</span>

            <form class="input-group__elems">
                <label class="input-group__elem c-field">
                    <span class="c-field__title">Текст описание формы</span>
                    <input class="c-field__input" type="text" placeholder="Вводите сюда!" />
                </label>

                <label class="input-group__elem c-field">
                    <span class="c-field__title">Выключенная форма</span>
                    <input class="c-field__input" type="text" placeholder="Я выключен.." disabled />
                </label>

                <label class="input-group__elem c-field">
                    <span class="c-field__title">Форма с иконкой</span>
                    <div class="c-field__area c-field__area--icon">
                        <input class="c-field__input" type="text" placeholder="Найди меня!" />
                        <svg class="c-field__icon c-field__icon--min">
                            <use xlink:href="./assets/img/main.svg#icon-search-loupe"></use>
                        </svg>
                    </div>
                </label>

                <label class="input-group__elem c-field c-field--column">
                    <span class="c-field__title">Текст описание формы сверху</span>
                    <input class="c-field__input" type="text" placeholder="Вводите сюда!" />
                </label>

                <label class="input-group__elem c-field c-field--column">
                    <span class="c-field__title">Текст описание формы сверху в виде комментария</span>
                    <textarea class="c-field__input c-field__input--textarea" rows="8" placeholder="Вводите сюда!"></textarea>
                </label>

                <label class="input-group__elem c-field">
                    <span class="c-field__title">Форма ввода пароля</span>
                    <div class="c-field__area c-field__area--icon" data-passwordSwitcher>
                        <input class="c-field__input" type="password" placeholder="Найди меня!" autocomplete="on" />
                        <svg class="c-field__icon">
                            <use xlink:href="./assets/img/main.svg#icon-eye-close"></use>
                        </svg>
                    </div>
                </label>
            </form>
        </div>

    </div>
</section>