<div class="modal__body">
    <div class="modal__header">
        <h2 class="modal__title">Востановить пароль</h2>
        <div class="modal__close" (click)="modalService.close()">
            <svg class="modal__closeIcon">
                <use xlink:href="./assets/sprites/sprite.svg#close"></use>
            </svg>
        </div>
    </div>
    <div class="modal__content">
        <p class="modal__text">
            Для востановления пароля введите адрес электронной почты и телефон указанные при регистрации в личном кабинете.
            <br><br>
            Письмо с логином будет отправлено на ваш электронный адрес.
        </p>
        <field-group [formGroupData]="formService.passwordRestoreFormGroupData" [formGroup]="formService.passwordRestoreForm"></field-group>
        <div class="modal__footer">
            <div class="modal__btn">
                <button class="btn btn--primary" [disabled]="!formService.passwordRestoreForm.valid" (click)="formService.passwordRestoreFormSubmit()">Востановить пароль</button>
            </div>
        </div>
        <p class="modal__footerText">
            Нажимая на кнопку, я даю свое согласие на обработку моих персональных данных и соглашаюсь с 
            <a href="#">правовой информацией</a>
        </p>
    </div>
</div>