<div class="modal__body">
    <div class="modal__header">
        <div class="modal__close" (click)="modalService.close()">
            <svg class="modal__closeIcon">
                <use xlink:href="./assets/sprites/sprite.svg#close"></use>
            </svg>
        </div>
    </div>
    <div class="modal__content modal__content--full">
        <div class="modal__checkCircle">
            <svg>
                <use xlink:href="./assets/sprites/sprite.svg#circle-check"></use>
            </svg>
        </div>
        <h2 class="modal__message">
            Благодарим Вас за обращение.<br>
            Информация успешно отправлена. Эксперты обязательно ответят вам в ближайшее время.
        </h2>
    </div>
</div>